@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

html, body { min-height: 100% }

.fullscreen {
	position: fixed;
  	border: none;
  	width: 100%;
  	min-height: 100%;
}

.intro-bg {
	background-image: url('../images/booth_main1_blur.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.content-bg {
	background: url('../images/bg-repeat.png');
}

#intro-box {
	text-align: center;
	color: #fff;
	position: relative;
}

#intro-box > * {
	position: absolute;
	left: 0;
	right: 0;
	margin-top: 20vh;
}

#intro-box .touch-start {
	font-size: 3em;
	margin-top: 80vh;
	font-family: 'Indie Flower', cursive;
}

h1 {
	font-size: 11em;
  	font-family: 'Indie Flower', cursive;
}

h2 {
	font-size: 6em;
  	font-family: 'Indie Flower', cursive;
  	color: #fff;
}

a:hover, a:active {
	text-decoration: none;
}

.row-eq-height {
    display: table;
}

.row-eq-height [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.header {
	background: rgba(0,0,0,0.2);
	margin-bottom: 30px;
}

.header .header-back {
	font-size: 2.5em;
	color: #fff;
	background: rgba(0,0,0,0.2);
	vertical-align: middle;
	font-family: 'Indie Flower', cursive;
}

.header > * {
	display: inline-block;
}

.content {
	text-align: center;
}

.thumbnail {
	//display: none;
}

.category-select-box .title {
	display: block;
	background: rgba(0,0,0,0.5);
	color: #fff;
	font-size: 5em;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}


