<div class="fullscreen content-bg">
	<div class="header row row-eq-height">
		<a class="header-back col-md-1" href="/#/"><i class="fa fa-chevron-left"></i> Back</a>
		<h2 class="col-md-11">Select a category</h2>
	</div>

	<div class="content container">
		<div class="col-md-6 thumb category-select-box" ng-repeat="category in categories">
			<a href="/#/category/{{ category.title }}" class="thumbnail">
				<!-- <div class="title">{{ category.title }}</div> -->
				<img ng-src="{{ category.image }}" class="img-responsive" sb-load="onImageLoad($event)" />
			</a>
		</div>
	</div>
</div>