<div class="fullscreen content-bg">
	<div class="header row row-eq-height">
		<a class="header-back col-md-2" href="/#/categories"><i class="fa fa-chevron-left"></i> Back</a>
		<h2 class="col-md-11">Patterns</h2>
	</div>
	<div class="content">
		<div class="col-md-3 thumb">
			<a class="thumbnail">
				<img src="include/Categories/Patterns/IMG_0501.JPG" class="img-responsive" sb-load="onImageLoad($event)">
			</a>
		</div>

		<div class="col-md-3 thumb">
			<a class="thumbnail">
				<img src="include/Categories/Patterns/IMG_0502.JPG" class="img-responsive" sb-load="onImageLoad($event)">
			</a>
		</div>

		<div class="col-md-3 thumb">
			<a class="thumbnail">
				<img src="include/Categories/Patterns/IMG_0504.JPG" class="img-responsive" sb-load="onImageLoad($event)">
			</a>
		</div>

		<div class="col-md-3 thumb">
			<a class="thumbnail">
				<img src="include/Categories/Patterns/IMG_0594.JPG" class="img-responsive" sb-load="onImageLoad($event)">
			</a>
		</div>

		<div class="col-md-3 thumb">
			<a class="thumbnail">
				<img src="include/Categories/Patterns/IMG_0598.JPG" class="img-responsive" sb-load="onImageLoad($event)">
			</a>
		</div>

		<div class="col-md-3 thumb">
			<a class="thumbnail">
				<img src="include/Categories/Patterns/IMG_0599.JPG" class="img-responsive" sb-load="onImageLoad($event)">
			</a>
		</div>

		<div class="col-md-3 thumb">
			<a class="thumbnail">
				<img src="include/Categories/Patterns/IMG_0600.JPG" class="img-responsive" sb-load="onImageLoad($event)">
			</a>
		</div>

		<div class="col-md-3 thumb">
			<a class="thumbnail">
				<img src="include/Categories/Patterns/IMG_0601.JPG" class="img-responsive" sb-load="onImageLoad($event)">
			</a>
		</div>

		<div class="col-md-3 thumb">
			<a class="thumbnail">
				<img src="include/Categories/Patterns/IMG_0602.JPG" class="img-responsive" sb-load="onImageLoad($event)">
			</a>
		</div>

		<div class="col-md-3 thumb">
			<a class="thumbnail">
				<img src="include/Categories/Patterns/IMG_0603.JPG" class="img-responsive" sb-load="onImageLoad($event)">
			</a>
		</div>

		<div class="col-md-3 thumb">
			<a class="thumbnail">
				<img src="include/Categories/Patterns/IMG_0604.JPG" class="img-responsive" sb-load="onImageLoad($event)">
			</a>
		</div>

		<div class="col-md-3 thumb">
			<a class="thumbnail">
				<img src="include/Categories/Patterns/IMG_0605.JPG" class="img-responsive" sb-load="onImageLoad($event)">
			</a>
		</div>

		<div class="col-md-3 thumb">
			<a class="thumbnail">
				<img src="include/Categories/Patterns/IMG_0607.JPG" class="img-responsive" sb-load="onImageLoad($event)">
			</a>
		</div>

	</div>
</div>